* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  background: #74b9ff;
  font-family: Arial, Helvetica, sans-serif;
}

#topBar {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 60px;

  background: #003366;
  color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 25px;

  font-size: 22px;
  z-index: 100;
}

#title {
  font-weight: bold;
}

canvas {
  position: absolute;

  top: 60px;
  left: 0;

  width: 100vw;
  height: calc(100vh - 60px);

  background: #dff3c8;
}
